<h3>Import modules and packages</h3>

In [1]:
import pandas as pd

<h3>Load raw data</h3>

In [5]:
category_df = pd.read_csv('../data/categories.csv')
product_df = pd.read_csv('../data/products.csv')
supplier_df = pd.read_csv('../data/suppliers.csv')

# Print basic information for the loaded datasets
print(f'category_df = {category_df.shape}')
print(f'product_df = {product_df.shape}')
print(f'supplier_df = {supplier_df.shape}')

category_df = (8, 4)
product_df = (77, 10)
supplier_df = (29, 12)

In [7]:
category_df.sample(4)

,categoryID,categoryName,description,picture
5,6,Meat/Poultry,Prepared meats,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
1,2,Condiments,Sweet and savory sauces relishes spreads and s...,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
7,8,Seafood,Seaweed and fish,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
3,4,Dairy Products,Cheeses,0x151C2F00020000000D000E0014002100FFFFFFFF4269...

In [8]:
product_df.sample(4)

,productID,productName,supplierID,categoryID,quantityPerUnit,unitPrice,unitsInStock,unitsOnOrder,reorderLevel,discontinued
74,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0
61,62,Tarte au sucre,29,3,48 pies,49.30,17,0,0,0
45,46,Spegesild,21,8,4 - 450 g glasses,12.00,95,0,0,0
11,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38.00,86,0,0,0

In [9]:
supplier_df.sample(4)

,supplierID,companyName,contactName,contactTitle,address,city,region,postalCode,country,phone,fax,homePage
15,16,Bigfoot Breweries,Cheryl Saylor,Regional Account Rep.,3400 - 8th Avenue Suite 210,Bend,OR,97101,USA,(503) 555-9931,NaN,NaN
20,21,Lyngbysild,Niels Petersen,Sales Manager,Lyngbysild Fiskebakken 10,Lyngby,NaN,2800,Denmark,43844108,43844115,NaN
25,26,Pasta Buttini s.r.l.,Giovanni Giudici,Order Administrator,Via dei Gelsomini 153,Salerno,NaN,84100,Italy,(089) 6547665,(089) 6547667,NaN
11,12,Plutzer Lebensmittelgroßmärkte AG,Martin Bein,International Marketing Mgr.,Bogenallee 51,Frankfurt,NaN,60439,Germany,(069) 992755,NaN,Plutzer (on the World Wide Web)#http://www.mic...

<h3>Combine dataframes</h3>

In [11]:
product_category_df = pd.merge(product_df, category_df, on='categoryID')
product_category_df.head(1)

,productID,productName,supplierID,categoryID,quantityPerUnit,unitPrice,unitsInStock,unitsOnOrder,reorderLevel,discontinued,categoryName,description,picture
0,1,Chai,1,1,10 boxes x 20 bags,18.0,39,0,10,0,Beverages,Soft drinks coffees teas beers and ales,0x151C2F00020000000D000E0014002100FFFFFFFF4269...

In [14]:
product_category_df.columns

Index(['productID', 'productName', 'supplierID', 'categoryID',
       'quantityPerUnit', 'unitPrice', 'unitsInStock', 'unitsOnOrder',
       'reorderLevel', 'discontinued', 'categoryName', 'description',
       'picture'],
      dtype='object')

In [15]:
product_category_df.isna().sum()

productID          0
productName        0
supplierID         0
categoryID         0
quantityPerUnit    0
unitPrice          0
unitsInStock       0
unitsOnOrder       0
reorderLevel       0
discontinued       0
categoryName       0
description        0
picture            0
dtype: int64

In [16]:
supplier_df.sample(2)

,supplierID,companyName,contactName,contactTitle,address,city,region,postalCode,country,phone,fax,homePage
7,8,Specialty Biscuits Ltd.,Peter Wilson,Sales Representative,29 King's Way,Manchester,NaN,M14 GSD,UK,(161) 555-4448,NaN,NaN
8,9,PB Knäckebröd AB,Lars Peterson,Sales Agent,Kaloadagatan 13,Göteborg,NaN,S-345 67,Sweden,031-987 65 43,031-987 65 91,NaN

In [18]:
product_category_supplier_df = pd.merge(
    product_category_df, 
    supplier_df, 
    on='supplierID',
    how='left'
)
product_category_supplier_df.sample(4)

,productID,productName,supplierID,categoryID,quantityPerUnit,unitPrice,unitsInStock,unitsOnOrder,reorderLevel,discontinued,...,contactName,contactTitle,address,city,region,postalCode,country,phone,fax,homePage
35,36,Inlagd Sill,17,8,24 - 250 g jars,19.0,112,0,20,0,...,Michael Björn,Sales Representative,Brovallavägen 231,Stockholm,NaN,S-123 45,Sweden,08-123 45 67,NaN,NaN
52,53,Perth Pasties,24,6,48 pieces,32.8,0,0,0,1,...,Wendy Mackenzie,Sales Representative,170 Prince Edward Parade Hunter's Hill,Sydney,NSW,2042,Australia,(02) 555-5914,(02) 555-4873,G'day Mate (on the World Wide Web)#http://www....
19,20,Sir Rodney's Marmalade,8,3,30 gift boxes,81.0,40,0,0,0,...,Peter Wilson,Sales Representative,29 King's Way,Manchester,NaN,M14 GSD,UK,(161) 555-4448,NaN,NaN
18,19,Teatime Chocolate Biscuits,8,3,10 boxes x 12 pieces,9.2,25,0,5,0,...,Peter Wilson,Sales Representative,29 King's Way,Manchester,NaN,M14 GSD,UK,(161) 555-4448,NaN,NaN

In [19]:
product_category_supplier_df.isna().sum()

productID           0
productName         0
supplierID          0
categoryID          0
quantityPerUnit     0
unitPrice           0
unitsInStock        0
unitsOnOrder        0
reorderLevel        0
discontinued        0
categoryName        0
description         0
picture             0
companyName         0
contactName         0
contactTitle        0
address             0
city                0
region             51
postalCode          0
country             0
phone               0
fax                46
homePage           59
dtype: int64

<h3>Drop Null values</h3>

In [20]:
product_category_supplier_df["region"] = product_category_supplier_df["region"].replace({pd.NA: "Unknown"})
product_category_supplier_df["fax"] = product_category_supplier_df["fax"].replace({pd.NA: "Unknown"})
product_category_supplier_df["homePage"] = product_category_supplier_df["homePage"].replace({pd.NA: "Unknown"})

product_category_supplier_df.isna().sum()

productID          0
productName        0
supplierID         0
categoryID         0
quantityPerUnit    0
unitPrice          0
unitsInStock       0
unitsOnOrder       0
reorderLevel       0
discontinued       0
categoryName       0
description        0
picture            0
companyName        0
contactName        0
contactTitle       0
address            0
city               0
region             0
postalCode         0
country            0
phone              0
fax                0
homePage           0
dtype: int64

<h3>Load environment variables</h3>

In [21]:
from dotenv import load_dotenv
import os

In [22]:
%load_ext dotenv
%dotenv

In [23]:
NEO4J_URI = os.getenv("NEO4J_URI")
NEO4J_USER = os.getenv("NEO4J_USERNAME")
NEO4J_PASSWORD = os.getenv("NEO4J_PASSWORD")

<h3>Connect to Neo4j</h3>

In [24]:
from neo4j import GraphDatabase

In [25]:
AUTH = (NEO4J_USER, NEO4J_PASSWORD)

In [26]:
with GraphDatabase.driver(NEO4J_URI, auth=AUTH) as driver:
    driver.verify_connectivity()

In [28]:
"""
Now that we have successfully connected to the database, we are ready to insert data into the knowledge
graph database on Neo4j. To do this, we’ll have to write some cipher code. The code snippet I’ll use below
is quite simple to understand.
"""

def insert_data(tx, row):
    tx.run('''
            CREATE (product:Product {
                productID: $productID,
                productName: $productName,
                supplierID: $supplierID,
                categoryID: $categoryID,
                quantityPerUnit: $quantityPerUnit,
                unitPrice: $unitPrice,
                unitsInStock: $unitsInStock,
                unitsOnOrder: $unitsOnOrder,
                reorderLevel: $reorderLevel,
                discontinued: $discontinued
            })
            MERGE (category:Category {
                categoryID: $categoryID,
                categoryName: $categoryName,
                description: $description,
                picture: $picture
            })
            MERGE (supplier:Supplier {
                supplierID: $supplierID,
                companyName: $companyName,
                contactName: $contactName,
                contactTitle: $contactTitle,
                address: $address,
                city: $city,
                region: $region,
                postalCode: $postalCode,
                country: $country,
                phone: $phone,
                fax: $fax,
                homePage: $homePage
            })
            CREATE (product)-[:PART_OF]->(category)
            CREATE (product)-[:SUPPLIED_BY]->(supplier)
            ''', row)

In [29]:
with driver.session() as session:
    for _, row in product_category_supplier_df.iterrows():
        session.write_transaction(insert_data, row.to_dict())

/var/folders/kv/7k28t1cj33sfv_p7qplzdh4w0000gn/T/ipykernel_96384/2115727637.py:1: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:
/var/folders/kv/7k28t1cj33sfv_p7qplzdh4w0000gn/T/ipykernel_96384/2115727637.py:3: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(insert_data, row.to_dict())

<h3>Order, Order Details, Shippers, Employees And Customers</h3>

In [30]:
order_df = pd.read_csv('../data/orders.csv')
order_detail_df = pd.read_csv('../data/order_details.csv')
customer_df = pd.read_csv('../data/customers.csv')
shipper_df = pd.read_csv('../data/shippers.csv')
employee_df = pd.read_csv('../data/employees.csv')

In [31]:
order_df.sample(4)

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,shipCity,shipRegion,shipPostalCode,shipCountry
400,10648,RICAR,5,1997-08-28 00:00:00.000,1997-10-09 00:00:00.000,1997-09-09 00:00:00.000,2,14.25,Ricardo Adocicados,Av. Copacabana 267,Rio de Janeiro,RJ,02389-890,Brazil
616,10864,AROUT,4,1998-02-02 00:00:00.000,1998-03-02 00:00:00.000,1998-02-09 00:00:00.000,2,3.04,Around the Horn,Brook Farm Stratford St. Mary,Colchester,Essex,CO7 6JX,UK
775,11023,BSBEV,1,1998-04-14 00:00:00.000,1998-04-28 00:00:00.000,1998-04-24 00:00:00.000,2,123.83,B's Beverages,Fauntleroy Circus,London,NaN,EC2 5NT,UK
463,10711,SAVEA,5,1997-10-21 00:00:00.000,1997-12-02 00:00:00.000,1997-10-29 00:00:00.000,2,52.41,Save-a-lot Markets,187 Suffolk Ln.,Boise,ID,83720,USA

In [33]:
order_order_detail_df = pd.merge(order_df, 
                                 order_detail_df, 
                                 on='orderID', 
                                 how='left'
                                )

order_order_detail_df.sample(3)

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,shipCity,shipRegion,shipPostalCode,shipCountry,productID,unitPrice,quantity,discount
1365,10766,OTTIK,4,1997-12-05 00:00:00.000,1998-01-02 00:00:00.000,1997-12-09 00:00:00.000,1,157.55,Ottilies Käseladen,Mehrheimerstr. 369,Köln,NaN,50739,Germany,2,19.0,40,0.00
665,10500,LAMAI,6,1997-04-09 00:00:00.000,1997-05-07 00:00:00.000,1997-04-17 00:00:00.000,1,42.68,La maison d'Asie,1 rue Alsace-Lorraine,Toulouse,NaN,31000,France,28,45.6,8,0.05
1965,11008,ERNSH,7,1998-04-08 00:00:00.000,1998-05-06 00:00:00.000,NaN,3,79.46,Ernst Handel,Kirchgasse 6,Graz,NaN,8010,Austria,71,21.5,21,0.00

In [34]:
order_order_detail_customer_df = pd.merge(order_order_detail_df, 
                                          customer_df, 
                                          on='customerID', 
                                          how='left'
                                         )

In [36]:
order_order_detail_customer_shipper_df = pd.merge(order_order_detail_customer_df,
                                                    shipper_df,
                                                    left_on='shipVia',
                                                    right_on='shipperID',
                                                    how='left'
                                                )

order_order_detail_customer_shipper_df.sample(3)

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,...,address,city,region,postalCode,country,phone_x,fax,shipperID,companyName_y,phone_y
1226,10713,SAVEA,1,1997-10-22 00:00:00.000,1997-11-19 00:00:00.000,1997-10-24 00:00:00.000,1,167.05,Save-a-lot Markets,187 Suffolk Ln.,...,187 Suffolk Ln.,Boise,ID,83720,USA,(208) 555-8097,NaN,1,Speedy Express,(503) 555-9831
32,10259,CENTC,4,1996-07-18 00:00:00.000,1996-08-15 00:00:00.000,1996-07-25 00:00:00.000,3,3.25,Centro comercial Moctezuma,Sierras de Granada 9993,...,Sierras de Granada 9993,México D.F.,NaN,05022,Mexico,(5) 555-3392,(5) 555-7293,3,Federal Shipping,(503) 555-9931
115,10291,QUEDE,6,1996-08-27 00:00:00.000,1996-09-24 00:00:00.000,1996-09-04 00:00:00.000,2,6.40,Que Delícia,Rua da Panificadora 12,...,Rua da Panificadora,12Rio de Janeiro,RJ,02389-673,Brazil,(21) 555-4252,(21) 555-4545,2,United Package,(503) 555-3199

In [38]:
order_order_detail_customer_shipper_employee = pd.merge(order_order_detail_customer_shipper_df,
                                                            employee_df,
                                                            left_on='employeeID',
                                                            right_on='employeeID',
                                                            how='left'
                                                            )

print(order_order_detail_customer_shipper_employee.shape)
order_order_detail_customer_shipper_employee.sample(3)

(2155, 48)

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,...,city_y,region_y,postalCode_y,country_y,homePhone,extension,photo,notes,reportsTo,photoPath
501,10438,TOMSP,3,1997-02-06 00:00:00.000,1997-03-06 00:00:00.000,1997-02-14 00:00:00.000,2,8.24,Toms Spezialitäten,Luisenstr. 48,...,Kirkland,WA,98033,USA,(206) 555-3412,3355,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp
1842,10958,OCEAN,7,1998-03-18 00:00:00.000,1998-04-15 00:00:00.000,1998-03-27 00:00:00.000,2,49.56,Océano Atlántico Ltda.,Ing. Gustavo Moncada 8585 Piso 20-A,...,London,NaN,RG1 9SP,UK,(71) 555-5598,465,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Robert King served in the Peace Corps and trav...,5.0,http://accweb/emmployees/davolio.bmp
1354,10761,RATTC,5,1997-12-02 00:00:00.000,1997-12-30 00:00:00.000,1997-12-08 00:00:00.000,2,18.66,Rattlesnake Canyon Grocery,2817 Milton Dr.,...,London,NaN,SW1 8JR,UK,(71) 555-4848,3453,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp

In [39]:
order_order_detail_customer_shipper_employee.isna().sum()

orderID               0
customerID            0
employeeID            0
orderDate             0
requiredDate          0
shippedDate          73
shipVia               0
freight               0
shipName              0
shipAddress           0
shipCity              0
shipRegion         1299
shipPostalCode       55
shipCountry           0
productID             0
unitPrice             0
quantity              0
discount              0
companyName_x         0
contactName           0
contactTitle          0
address_x             0
city_x                0
region_x           1329
postalCode_x         55
country_x             0
phone_x               0
fax                 649
shipperID             0
companyName_y         0
phone_y               0
lastName              0
firstName             0
title                 0
titleOfCourtesy       0
birthDate             0
hireDate              0
address_y             0
city_y                0
region_y            568
postalCode_y          0
country_y             0
homePhone             0
extension             0
photo                 0
notes                 0
reportsTo           241
photoPath             0
dtype: int64

In [40]:
order_order_detail_customer_shipper_employee.replace({pd.NA: "Unknown"}, inplace=True)

In [41]:
order_order_detail_customer_shipper_employee.isna().sum()

orderID              0
customerID           0
employeeID           0
orderDate            0
requiredDate         0
shippedDate          0
shipVia              0
freight              0
shipName             0
shipAddress          0
shipCity             0
shipRegion           0
shipPostalCode       0
shipCountry          0
productID            0
unitPrice            0
quantity             0
discount             0
companyName_x        0
contactName          0
contactTitle         0
address_x            0
city_x               0
region_x             0
postalCode_x         0
country_x            0
phone_x              0
fax                  0
shipperID            0
companyName_y        0
phone_y              0
lastName             0
firstName            0
title                0
titleOfCourtesy      0
birthDate            0
hireDate             0
address_y            0
city_y               0
region_y             0
postalCode_y         0
country_y            0
homePhone            0
extension            0
photo                0
notes                0
reportsTo          241
photoPath            0
dtype: int64

In [42]:
order_order_detail_customer_shipper_employee['reportsTo'] = order_order_detail_customer_shipper_employee['reportsTo'].astype('Int64')
order_order_detail_customer_shipper_employee["reportsTo"]

0       2
1       2
2       2
3       5
4       5
       ..
2150    2
2151    2
2152    2
2153    2
2154    2
Name: reportsTo, Length: 2155, dtype: Int64

In [43]:
order_order_detail_customer_shipper_employee["reportsTo"] = order_order_detail_customer_shipper_employee["reportsTo"].replace({pd.NA: 2})
order_order_detail_customer_shipper_employee.isna().sum()

orderID            0
customerID         0
employeeID         0
orderDate          0
requiredDate       0
shippedDate        0
shipVia            0
freight            0
shipName           0
shipAddress        0
shipCity           0
shipRegion         0
shipPostalCode     0
shipCountry        0
productID          0
unitPrice          0
quantity           0
discount           0
companyName_x      0
contactName        0
contactTitle       0
address_x          0
city_x             0
region_x           0
postalCode_x       0
country_x          0
phone_x            0
fax                0
shipperID          0
companyName_y      0
phone_y            0
lastName           0
firstName          0
title              0
titleOfCourtesy    0
birthDate          0
hireDate           0
address_y          0
city_y             0
region_y           0
postalCode_y       0
country_y          0
homePhone          0
extension          0
photo              0
notes              0
reportsTo          0
photoPath          0
dtype: int64

In [44]:
order_order_detail_customer_shipper_employee.columns

Index(['orderID', 'customerID', 'employeeID', 'orderDate', 'requiredDate',
       'shippedDate', 'shipVia', 'freight', 'shipName', 'shipAddress',
       'shipCity', 'shipRegion', 'shipPostalCode', 'shipCountry', 'productID',
       'unitPrice', 'quantity', 'discount', 'companyName_x', 'contactName',
       'contactTitle', 'address_x', 'city_x', 'region_x', 'postalCode_x',
       'country_x', 'phone_x', 'fax', 'shipperID', 'companyName_y', 'phone_y',
       'lastName', 'firstName', 'title', 'titleOfCourtesy', 'birthDate',
       'hireDate', 'address_y', 'city_y', 'region_y', 'postalCode_y',
       'country_y', 'homePhone', 'extension', 'photo', 'notes', 'reportsTo',
       'photoPath'],
      dtype='object')

<h3>Create Vice President\CEO Employee First</h3>

In [45]:
employee_df[employee_df["title"] == "Vice President Sales"]

,employeeID,lastName,firstName,title,titleOfCourtesy,birthDate,hireDate,address,city,region,postalCode,country,homePhone,extension,photo,notes,reportsTo,photoPath
1,2,Fuller,Andrew,Vice President Sales,Dr.,1952-02-19 00:00:00.000,1992-08-14 00:00:00.000,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp

In [46]:
vice_president = order_order_detail_customer_shipper_employee[order_order_detail_customer_shipper_employee["title"] == "Vice President Sales"]

In [47]:
def create_manager(tx, row):
    tx.run("""
        MERGE (e:Employee {
            employeeID: $employeeID,
            lastName: $lastName,
            firstName: $firstName,
            title: $title,
            titleOfCourtesy: $titleOfCourtesy,
            birthDate: $birthDate,
            hireDate: $hireDate,
            address: $address_y,
            city: $city_y,
            region: $region_y,
            postalCode: $postalCode_y,
            country: $country_y,
            homePhone: $homePhone,
            extension: $extension,
            photo: $photo,
            notes: $notes,
            photoPath: $photoPath
    })
    """, row)

In [48]:
with driver.session() as session:
    for _, row in vice_president.iterrows():
        session.write_transaction(create_manager, row.to_dict())

/var/folders/kv/7k28t1cj33sfv_p7qplzdh4w0000gn/T/ipykernel_96384/3090856426.py:1: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:
/var/folders/kv/7k28t1cj33sfv_p7qplzdh4w0000gn/T/ipykernel_96384/3090856426.py:3: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_manager, row.to_dict())

In [49]:
def insert_data(tx, row):
    tx.run("""
    CREATE (o:Order {
        orderID: $orderID,
        orderDate: $orderDate,
        requiredDate: $requiredDate,
        shippedDate: $shippedDate,
        shipVia: $shipVia,
        freight: $freight,
        shipName: $shipName,
        shipAddress: $shipAddress,
        shipCity: $shipCity,
        shipRegion: $shipRegion,
        shipPostalCode: $shipPostalCode,
        shipCountry: $shipCountry
    })
    WITH o
    MATCH (p:Product { productID: $productID })
    WITH p, o
    MERGE (c:Customer {
        customerID: $customerID,
        companyName: $companyName_x,
        contactName: $contactName,
        contactTitle: $contactTitle,
        address: $address_x,
        city: $city_x,
        region: $region_x,
        postalCode: $postalCode_x,
        country: $country_x,
        phone: $phone_x,
        fax: $fax
    })
    WITH c, p, o
    MERGE (s:Shipper {
        shipperID: $shipperID,
        companyName: $companyName_y,
        phone: $phone_y
    })
    WITH s, c, p, o
    MERGE (e:Employee {
        employeeID: $employeeID,
        lastName: $lastName,
        firstName: $firstName,
        title: $title,
        titleOfCourtesy: $titleOfCourtesy,
        birthDate: $birthDate,
        hireDate: $hireDate,
        address: $address_y,
        city: $city_y,
        region: $region_y,
        postalCode: $postalCode_y,
        country: $country_y,
        homePhone: $homePhone,
        extension: $extension,
        photo: $photo,
        notes: $notes,
        photoPath: $photoPath
    })
    WITH e, s, c, p, o
    MATCH (m:Employee { employeeID: $reportsTo }) // Assuming reportsTo is the ID of the manager
    WITH m, e, s, c, p, o
    MERGE (e)-[:REPORTS_TO]->(m)
    MERGE (o)-[:INCLUDES]->(p)
    MERGE (o)-[:ORDERED_BY]->(c)
    MERGE (o)-[:SHIPPED_BY]->(s)
    MERGE (o)-[:PROCESSED_BY]->(e)
    """, parameters=row)

In [50]:
with driver.session() as session:
    for _, row in order_order_detail_customer_shipper_employee[:250].iterrows():
        session.write_transaction(insert_data, row.to_dict())

/var/folders/kv/7k28t1cj33sfv_p7qplzdh4w0000gn/T/ipykernel_96384/2920845708.py:1: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:
/var/folders/kv/7k28t1cj33sfv_p7qplzdh4w0000gn/T/ipykernel_96384/2920845708.py:3: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(insert_data, row.to_dict())